/* ### Global ### */
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html {
  line-height: 1.3;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
}

@media only screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }
}

/* ### Theme ### */
:root {
  --light-bg-color: #fafafa;
  --light-fg-color: #2c2c2c;
  --dark-bg-color: #2c2c2c;
  --dark-fg-color: #fafafa;

  --primary-font-color: #fafafa;
  --secondary-font-color: #aeaeae;
}

/* ### Animations ### */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  -webkit-animation: 1s fadein ease-in-out forwards;
  animation: fadein 1s ease-in-out forwards;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lightmode {
  from {
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
  }
  to {
    background-color: var(--light-bg-color);
    color: var(--light-fg-color);
  }
}

.lightmode {
  -webkit-animation: 0.5s lightmode ease-in-out forwards;
  animation: lightmode 0.5s ease-in-out forwards;
}

@keyframes darkmode {
  from {
    background-color: var(--light-bg-color);
    color: var(--light-fg-color);
  }
  to {
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
  }
}

.darkmode {
  -webkit-animation: 0.5s darkmode ease-in-out forwards;
  animation: darkmode 0.5s ease-in-out forwards;
}

/* ### Components ### */
.container {
  max-width: 1024px;
  margin: auto;
  padding: 24px;
}

.view {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
}

.nav {
  padding: 10px;
}

.nav__btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.nav__btn__icon {
  font-size: 24px;
}

.intro {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .intro {
    flex-direction: column;
  }
}

.intro__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .intro__photo {
    flex-direction: column;
  }
}

.intro__photo__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  opacity: 0;
  cursor: pointer;
  transition: width 1s, height 1s, top 0.5s, left 0.5s, transform 0.5s;
}

.intro__photo__img:hover {
  transform: scale(1.03);
}

.intro__photo__img--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: 50px;
}

@media only screen and (max-width: 900px) {
  .intro__photo__img--fixed {
    display: none;
  }
}

.intro__photo__caption {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

@media only screen and (max-width: 900px) {
  .intro__photo__caption {
    margin: 45px 0;
    text-align: center;
  }
}

.intro__photo__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin: 6px 0;
}

.intro__photo__text {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-font-color);
}

.intro__photo__caption_dot1 {
  -webkit-animation: flashing 3s linear 1s infinite;
  animation: flashing 3s linear 1s infinite;
}
.intro__photo__caption_dot2 {
  -webkit-animation: flashing 3s linear 2s infinite;
  animation: flashing 3s linear 2s infinite;
}
.intro__photo__caption_dot3 {
  -webkit-animation: flashing 3s linear 3s infinite;
  animation: flashing 3s linear 3s infinite;
}

.contact {
  display: grid;
  grid-gap: 24px;
  padding: 0;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .contact {
    display: flex;
    margin-bottom: 50px;
  }
}

.contact__item {
  list-style: none;
}

.contact__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-font-color);
  transition: color 0.5s;
}

.contact__link:hover {
  color: inherit;
}

@media only screen and (max-width: 900px) {
  .contact__link {
    color: inherit;
  }
}

.contact__icon {
  font-size: 24px;
  width: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .about__title {
    margin-top: 50px;
  }
}

.about__text {
  text-align: justify;
  margin-top: 25px;
}

.about__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 25px 0 0;
}

.about__list {
  display: grid;
  grid-template-columns: 64px 64px;
  grid-gap: 42px 76px;
  justify-content: center;
  margin: 25px 0 0;
  padding: 0;
}

@media only screen and (min-width: 900px) {
  .about__list {
    grid-template-columns: 64px 64px 64px 64px;
  }
}

.about__list__item {
  list-style: none;
}

.about__interest {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__interest__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: inherit;
  transition: transform 0.5s;
}

.about__interest__link:hover {
  transform: scale(1.1);
}

.about__interest__bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.about__interest__caption {
  font-weight: bold;
}

.about__interest__img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  margin-top: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .projects__title {
    margin-top: 50px;
  }
}

.projects__subtitle {
  text-align: center;
  margin-top: 10px;
}

.projects__list {
  display: grid;
  grid-gap: 25px;
  margin: 25px 0 0;
  padding: 0;
}

@media only screen and (min-width: 900px) {
  .projects__list {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 150px 150px;
  }
}

.projects__list__item {
  list-style: none;
}

.projects__repo {
  display: flex;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  transition: transform 0.5s;
}

.projects__repo:hover {
  transform: scale(1.03);
}

.projects__repo__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: inherit;
  padding: 10px;
  width: 100%;
}

.projects__repo__panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.projects__repo__icon {
  color: #404040;
  font-size: 18px;
  margin-right: 5px;
}

.projects__repo__text {
  color: #404040;
  font-size: 14px;
  text-align: start;
}

.projects__repo__text--title {
  color: #0366d6;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.projects__repo__row {
  display: flex;
  align-items: center;
}

.projects__repo__row--between {
  justify-content: space-between;
}

.projects__repo__description {
  flex: 1;
}

.projects__repo__langcolor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

@media only screen and (min-width: 900px) {
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.footer__text {
  font-size: 12px;
}

.footer__text--left {
  text-align: start;
}

.footer__text--right {
  text-align: end;
}
